{% extends 'Proweb/base.html' %}

{% load static %}

{% block content %}
{% for service in services %}
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{service.image.url}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span style="color: aliceblue" class="section-heading-lower">{{service.title}}</span>
            <span style="color: white"  class="section-heading-upper">{{service.content}}</span>
          </h2>
         
        </div>
      </div>
    </div>
  </section>


     {% endfor %}


{% endblock %}