{% extends 'Proweb/base.html' %}

{% load static %}

{% block content %}
<div class="container">

     <div class="shop">
          <p>Total: {{total_import}}</p>
     </div>


<div class="row">
{% for product in products %}
     <div class="col">
 
          <div class="card mt-5" style="width: 300px; height: fit-content;">
               <img src="{{ product.image.url}}">

               <div class="card-body bg-success" style="text-align:center;">
                    <h5 class="card-title text-light">{{ product.name }}</h5>

                    <p class="card-text text-light">{{ product.price }}&nbsp; £</p>
               </div>
               <div class="card-footer text-center">
                         <a href="#" class="btn btn-success">Add to pay</a>
               </div>
          </div>

     </div>
          {% endfor %}
          </div>  

</div>


{% endblock %}