{% extends 'Proweb/base.html' %}

{% load static %}

{% block content %}
<h1 style="color:white; text-align:center;">Contact</h1>
<div class="contentForm">
<form action="" method="POST">{% csrf_token %}
     <table style="color:white;">
          {{form_contact.as_table}}
     </table>
     <input style="text-align:center;" type="submit" value="Send" />
</form>

</div>

<p style="color:white;">




</p>




{% endblock %}