{% extends 'Proweb/base.html' %}

{% load static %}

{% block content %}
{% for p in post %}
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img style="width:500px" class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{p.image.url}}" alt="">
      
        <div style="width:fit-content" class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span style="color:black" class="section-heading-lower">{{p.title}}</span>
            <span style="color:black"  class="section-heading-upper">{{p.content}}</span>
          </h2>
               
          <h3 style=" color: black; float: left; font-size: 16px;"><span style="background-color: aliceblue;color:black;">Author: </span> {{p.author}}</h3>
               </div>
      </div>
    </div>
  </section>


     {% endfor %}
<section>
     <div style="text-align:center; margin:auto;color:white">
      Categories:
      {% for p in post %}

          {% for category in p.categories.all %}

                    {{category.category_name}}
               

      {% endfor %}
      {% endfor %}

     
     </div>
</section>

{% endblock %}